@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model QuizStep.Models.QuizModels.QuestionModel

@{
    ViewData["Title"] = "Test";
}
<input type="hidden" asp-for="TestId" value="@Model.TestId"/>
<div class="album py-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12  col-xs-12">
                <div class="shadow p-3 mb-1 bg-white rounded" style="border-left: 5px solid #4CAF50">
                    @Model.Text
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12  col-xs-12">
                <div class="shadow pt-2 mb-2 bg-white rounded" style="border-left: 5px solid #2196F3">
                    <form method="post" asp-controller="Quiz" asp-action="UnifiedPagination">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="margin:10px 0">
                                    <ul class="list-group list-group-flush">
                                        @foreach (var answer in Model.Answers)
                                        {
                                            <li class="list-group-item">
                                                <label class="checkboxRadio">
                                                    <input  type="radio" asp-for="@Model.CheckedAnswer" value="@answer.Id"/>
                                                    <span class="primary"></span>
                                                </label>
                                                @answer.Text
                                            </li>
                                        }
                                    </ul>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="nav-scroller py-1 mb-2 p-3">
                                        <div class=" nav d-flex dataTables_paginate paging_simple_numbers ">
                                            <ul class="pagination pagination-md flex-sm-wra">
                                                @if (ViewBag.QuestionIndex > 0)
                                                {
                                                    <li class="paginate_button page-item">
                                                        <button class="page-link" name="button" value="previous" onclick="changeQuestionIndex(-1)">
                                                            Попереднє
                                                            <input id="questionIndex" name="questionIndex" type="hidden" value="@ViewBag.QuestionIndex"/>
                                                        </button>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="paginate_button page-item disabled">
                                                        <a class="page-link" >
                                                            @* href="@Url.Action("PreviousQuestion", new { questionIndex = ViewBag.QuestionIndex - 1 })"> *@
                                                            Попереднє
                                                        </a>
                                                    </li>
                                                }
                                                @if (ViewBag.QuestionIndex < ViewBag.TotalQuestions - 1)
                                                {
                                                    <li class="paginate_button page-item">
                                                        <button class="page-link" name="button" value="next" onclick="changeQuestionIndex(1)">
                                                            Наступне
                                                            <input id="questionIndex" name="questionIndex" type="hidden" value="@ViewBag.QuestionIndex"/>
                                                            @* <a class="page-link" href="@Url.Action("NextQuestion", new { questionIndex = ViewBag.QuestionIndex + 1 })"> *@
                                                            @*      Next *@
                                                            @*  </a> *@
                                                        </button>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="paginate_button page-item disabled">
                                                        <a class="page-link"
                                                           href="@Url.Action("NextQuestion", new { questionIndex = ViewBag.QuestionIndex + 1 })">
                                                            Наступне
                                                        </a>
                                                    </li>
                                                }
                                                <li class="paginate_button page-item">
                                                    <button class="page-link" name="button" value="finish">
                                                        Завершити тест
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>
    function changeQuestionIndex(offset) {
            var questionIndexInput = document.getElementById('questionIndex');
            if (questionIndexInput) {
                var currentValue = parseInt(questionIndexInput.value) || 0; // Значение по умолчанию, если questionIndex не содержит числовое значение
                questionIndexInput.value = currentValue + offset;
                @ViewBag.QuestionIndex = questionIndexInput.value; 
            }
        // var questionIndexInput = document.getElementById('questionIndex');
        // if (questionIndexInput) {
        //     questionIndexInput.value = parseInt(questionIndexInput.value) - offset;
        //    
        //     console.log(questionIndexInput.value);
        // }
    }
</script>