@model QuizStep.Models.UserModels.UserRegistrationModel
@{
    ViewData["Title"] = "Profile";
}

<p>
    @Model.Login<br/>
    @Model.RealName<br/>
    @Model.Email<br/>
    @Model.Password<br/>
    @Model.Avatar<br/>
    @Model.IsAgree
</p>